/* INITIALIZATION */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font: inherit;
  /* outline: red 1px solid; */
}

body {
  color: var(--clr-primary-dark);
  background-color: var(--clr-primary-light);
  font-family: 'Source Sans 3', sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--clr-primary-light);
}

button {
  cursor: pointer;
}

.container {
  /* outline: red 1px solid; */
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  height: 100%;
  margin-inline: auto;
}



/* HEADER */
.header {
  background-image: url("images/pic_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-primary-light);
  text-align: center;
  padding-top: 32px;
  padding-bottom: 104px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.top-bar nav {
  width: 234px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  display: flex;
  justify-content: space-between;
}



/* HERO */
.hero-cta {
  padding: 168px 0;
}

.hero-cta h1 {
  font-size: 7.5rem;
  font-weight: var(--fw-bold);
  line-height: 1.125;
}

.hero-cta .subheading {
  width: 253px;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  margin-bottom: 36px;
}

.pros {
  margin: 0 auto;
}

.pros.container {
  max-width: 1010px;
}

.pros h2 {
  font-size: 2rem;
  font-weight: var(--fw-thin);
  margin-bottom: 87px;
}

.pros-cards {
  display: flex;
  justify-content: space-between;
}

.pros-cards h3 {
  font-size: 1.125rem;
  font-weight: var(--fw-black);
  margin-top: 4px;
}

.pros-cards p {
  font-style: italic;
}

.pros-cards img {
  width: 150px;
  height: 150px;
}



/* TESTIMONIALS */
.testimonials {
  background-color: var(--clr-accent);
  color: var(--clr-primary-light);
  padding-top: 110px;
  padding-bottom: 124px;
}

.testimonials .container {
  --max-width: 943px;
  display: flex;
  justify-content: space-between;
  font-size: 1.375rem;
}

.testimonials .info {
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 10px 0;
}

.testimonials .author {
  font-weight: var(--fw-bold);
}

.testimonials .subtitle {
  font-style: italic;
}

.testimonials img {
  width: 160px;
  height: 160px;
}



/* TUTORIALS */
.tutorials {
  padding-top: 87px;
  padding-bottom: 87px;
}

.tutorials h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: var(--fw-thin);
}

.tutorials .container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 76px;
}

.video {
  width: 255px;
}

.video .info {
  font-size: 0.875rem;
  padding: 12px;
  height: 182px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.video h2 {
  font-size: 1rem;
  font-weight: var(--fw-bold);
}

.video .info > p {
  opacity: 50%;
}

.video-author, .rating {
  font-weight: var(--fw-bold);
  color: var(--clr-accent);
}

.video-author {
  display: flex;
  align-items: center;
}

.video-author img {
  width: 30px;
  height: 30px;
}

.video-author h3 {
  margin-left: 13px;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.rating p {
  padding-right: 10px;
}

.rating-stars {
  width: 107px;
}

.rating-stars img {
  width: 15px;
  height: 15px;
}

.video-thumbnail {
  position: relative;
}

.play-btn {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
}

.play-btn img {
  width: 100%;
  height: 100%;
}

.video-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* MEMBERSHIP */
.membership {
  color: var(--clr-primary-light);
  background-color: var(--clr-primary-dark);
  text-align: center;
  padding-top: 70px;
  padding-bottom: 52px;
}

.membership h1 {
  font-size: 2rem;
  font-weight: var(--fw-thin);
}

.membership .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 58px;
  margin-bottom: 85px;
}

.membership .card {
  height: 153px;
  max-width: 256px;
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-wrap: balance;
}

.membership .card img {
  width: 44px;
}

.membership .card h2 {
  font-size: 1.125rem;
  font-weight: var(--fw-semibold);
}

.membership .card p {
  font-size: 0.875rem;
}



/* FAQ */
.faq {
  padding-top: 67px;
  padding-bottom: 84px;
}

.faq .container {
  max-width: 920px;
}

.faq h1 {
  text-align: center;
  font-size: 3.75rem;
  font-weight: var(--fw-thin);
}

.faq .row {
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
}

.faq .info {
  width: 38%;
}

.faq .info h2 {
  font-weight: var(--fw-bold);
  margin-bottom: 30px;
}

.faq .info p {
  font-size: 0.875rem;
  opacity: 50%;
}



/* FOOTER */
.footer {
  color: var(--clr-primary-light);
  background-color: var(--clr-primary-dark);
  text-align: center;
}

.footer .container {
  --max-width: 1036px;
  padding-top: 90px;
  padding-bottom: 39px;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  width: 130px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 0.75rem;
  opacity: 0.3517;
  margin-top: 70px;
}



/* UTILITY/MISC */
.upper {
  text-transform: uppercase;
}

.text-highlight {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}

.btn {
  color: var(--clr-primary-light);
  background-color: var(--clr-accent);
  padding: 0.75rem 1.325rem;
  font-size: 0.875rem;
  font-weight: var(--fw-semibold);
  border-radius: 2rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 2px 10px);
  border: none;
}

.avi {
  border-radius: 50%;
}

.logo {
  width: 167px;
}

/* VARIABLES */
:root {
  --clr-primary-dark: #071629;
  --clr-primary-light: #FFF;
  --clr-accent: #C271FF;

  --fw-thin: 300;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}
