/* INITIALIZATION */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* outline: red 1px solid; */
}

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-family: 'Source Sans 3', sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}



/* HEADER */
.section-header {
  background-image: url("images/pic_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-secondary);
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .logo {
  width: 167px;
}

.top-bar .logo .logo-smile {
  width: 36px;
}

.top-bar .logo .logo-type {
  width: 112px;
  float: right;
}


.hero-cta h1 {
  font-size: 7.5rem;
}

.pros {
  margin: 0 auto;
}

.pros-cards {
  display: flex;
  justify-content: space-between;
}

.pros-cards img {
  width: 150px;
  height: 150px;
}

/* TESTIMONIALS */
.section-testimonials {
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.testimonial img {
  width: 160px;
  height: 160px;
}

/* TUTORIALS */
.tutorials {
  display: flex;
  justify-content: space-between;
}

.author img {
  width: 30px;
  height: 30px;
}

.rating-stars {
  width: 107px;
}

.rating-stars img {
  width: 15px;
  height: 15px;
}

.video-thumbnail {
  position: relative;
  width: 255px;
  height: 154px;
  /* background-image: url(images/thumbnail_4.jpg); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.play-btn {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* MEMBERSHIP */
.section-membership {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  text-align: center;
}

.membership {
  display: flex;
  justify-content: space-between;
}

.membership .card img {
  width: 44px;
}

/* FAQ */

/* FOOTER */
.section-footer {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  text-align: center;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar .logo {
  width: 167px;
}

.bottom-bar .logo .logo-smile {
  width: 36px;
}

.bottom-bar .logo .logo-type {
  width: 112px;
  float: right;
}



/* UTILITY CLASSES */
.upper {
  text-transform: uppercase;
}

.text-highlight {
  color: var(--color-accent);
  font-weight: bold;
}

.btn {
  color: var(--color-secondary);
  background-color: var(--color-accent);
  padding: 1rem;
  border-radius: 2rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 2px 10px);
  border: none;
}

.avi {
  border-radius: 50%;
}



/* VARIABLES */
:root {
  --color-primary: #071629;
  --color-secondary: #FFF;
  --color-accent: #C271FF;
}
